{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="search">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8 col-xl-8 offset-md-1 offset-lg-2 offset-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="label">Oups!! Erreur {{ status_code }}</h1>
                            <div class="mt-3">
                                {{ exception.message|default("Une erreur est survenue sur le serveur.") }}
                            </div>
                            <div class="formulaire">
                                <a href="{{ absolute_url(path('app_home')) }}" style="color: darkgreen; font-weight:bold; text-decoration:none;"><i class="bi bi-house"></i> Retour à l'accueil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block title %}
    Ereur {{ statut_code }}
{% endblock %}

